@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Inter', system-ui, sans-serif;
  }

  body {
    @apply bg-slate-950 text-slate-100 antialiased;
  }
}
